<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="color: bisque;">it is virat file</h1>
    <a href="{% url 'rcb:malinga' %}">go to malinga page(specific file app2)</a>
    <a href="{% url 'bus:yellowbus' %}">go to yellow bus file(specific file app3)</a><br>
    <a href="{% url 'bus:redbus' %}">go to red bus file(specific file app3)</a><br>
    <a href="{% url 'vinod' %}">go to  vinod file(generic file app1)</a><br>
    <a href="{% url 'vinay' %}">go to  vinay file (generic file app1)</a>
</body>
</html>