<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="color: yellow;">it is yellow bus file</h1><br>
    <a href="{% url 'bus:redbus' %}">go to red bus file(specific file app3)</a><br>
    <a href="{% url 'rcb:virat' %}">go to  virat file(specific file app2)</a><br>
    <a href="{% url 'rcb:malinga' %}">go to  malinga file(specific file app2)</a><br>
    <a href="{% url 'vinod' %}">go to  vinod file(generic file)</a><br>
    <a href="{% url 'vinay' %}">go to  vinay file (generic file)</a><br>
</body>
</html>